.card{
	margin-top: 30px;
	.card-body{
		text-align: center;
		background-color: #FFFFFF;
	img{
		width: 242px;
		height: 341px;
	}
}

	.card-footer{
		background-color: #4589ff;
		text-decoration: none;
		color: white;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}
