.login {
    display: flex;
    justify-content: center;
	align-items: center;
	height: 708px;
	border-radius: 20%;
	//height: calc(100% - 81px);
}
.login > .card {
    width: 100%;
    padding: 15px;
    margin: auto;
	max-width: 450px;
	h1{
		font-weight: bold;
	}
	input{
		border: none;
		border-bottom: 1px solid #9F9D9D ;
		border-radius: none;
	}
}
