@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

* {
  font-family: 'Nunito', sans-serif
}

input, button, select, optgroup, textarea {
  font-family: 'Nunito', sans-serif
}

#app {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  border-radius: 0.55rem;
}
